.nav-container {
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: arvo, sans-serif;
  font-size: 50px;
  font-weight: normal;
}
